/* Example CSS code:
Feel free to add specific classes (don't do general a or p or you'll mess up other people's code too):
a {
  color: #495057
  
}
 padding on buttons and margins!!! 
a:link, a:hover {
  text-decoration: none;
  color:  #b14b59;
}

.a1, .a1:link, .a1:visited {
  color: #eeeeee;
}
.a1:hover{
  color:  #b14b59;
}
.b1 {
  line-height: 1;
  border: 1px solid lightgrey;
  background: #d4909a

}
b:hover {
  background:  #b14b59;
}
.b2 {
  font-size: large;
}

.b3 {
  background-color:    #dd98a1;
  border:        1px solid #000000;
  border-radius: 1000px;
  /* box-shadow:    0 0px #880e4f; 
  /* width: 150px;
  height: 70px; 
  display:       inline-block;
  /* font:          normal 400 15px/40px "Ubuntu", sans-serif; 
  text-align:    center;  
  text-shadow:   none;
}


.p1 {
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.p2 {
  text-align: center;
  font-weight: 600;
  color: #b14b59;
  font-size: large;
}

body {
    padding: 40px 10px;
    background-color: white;
    background-image: url("gpic.png"); 
    background-repeat: no-repeat;
  }

  .test {
    text-align: center;

  }

  .test1{
    padding-top: 100px;
  }
  .listing-reg h1 {
    text-align: center;
    margin: 0 0 2rem;
  }
  
 css for registration form and errors

  .form-inline {
    width: 30%;
    margin-left: -30px;
    margin-bottom: 25px;
    flex-flow: row;
    flex-direction: row;

  } */
